* html #content-hover-shadow .tl {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/lt.png', sizingMethod='scale');
}
* html #content-hover-shadow .tr {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/rt.png', sizingMethod='scale');
}
* html #content-hover-shadow .br {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/rb.png', sizingMethod='scale');
}
* html #content-hover-shadow .bl {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/lb.png', sizingMethod='scale');
}
* html #content-hover-shadow .b {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/b.png', sizingMethod='scale');
}
* html #content-hover-shadow .l {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/l.png', sizingMethod='scale');
}
* html #content-hover-shadow .r {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/r.png', sizingMethod='scale');
}
