/* Styles for AJS.dropDown */
.aui-dd-parent {
    position: relative;
}
.aui-dd-parent span a.aui-dd-trigger {
    position: absolute;
    right: 5px;
    top: 8px;
}
.aui-dd-parent span a.aui-dd-trigger,
.aui-dd-parent a.aui-dd-trigger {
    background: transparent url(images/icons/aui-icon-tools.gif) no-repeat -13px 0;
    border: none;
    color: #000;
    display: block;
    height: 13px;
    padding: 0;
    text-indent: -9999px;
    width: 13px;
}
.aui-dd-parent a.aui-dd-trigger:link,
.aui-dd-parent a.aui-dd-trigger:visited {}
.aui-dd-parent a.aui-dd-trigger.active,
.aui-dd-parent a.aui-dd-trigger:hover,
.aui-dd-parent a.aui-dd-trigger:active,
.aui-dd-parent a.aui-dd-trigger:focus {
    background: transparent url(images/icons/aui-icon-tools.gif) no-repeat -26px 0;
    border: none;
    color: #000;
}
.aui-dd-parent .aui-dropdown,
.aui-dropdown,
.aui-dd-parent .aui-shadow-parent {
    background: #fff;
    border: 1px solid #6A8EB3;
    color: #000;
    padding: 4px 0 4px 0;
    position: absolute;
    z-index: 2003;  
    margin-top: -1px;
}

.aui-dd-parent  .aui-dropdown-left{
    left:0px;
}

.aui-dd-parent .aui-dropdown-right{
    right:0px;
}

.aui-dd-parent .aui-shadow-parent {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    right: 7px;
}
.aui-dd-parent .aui-dropdown li,
.aui-dropdown li  {
    background: #fff;
    color: #000;
    display: block;
    float: none;
    margin: 0;
    position: static;
}

.aui-dd-parent .aui-dropdown a,
.aui-dropdown a {
    background: #fff;
    color: #036;
    display: block;
    float: none;
    height: auto;
    position: static;
    text-indent: 0;
    white-space: nowrap;
    width: auto;
}
.aui-dd-parent .aui-dropdown a:link,
.aui-dd-parent .aui-dropdown a:visited,
.aui-dropdown a:link,
.aui-dropdown a:visited {
    background: #fff;
    color: #036;
    padding: 0.3em 0.5em;
}
.aui-dd-parent .aui-dropdown li.active a,
.aui-dd-parent .aui-dropdown a:hover,
.aui-dd-parent .aui-dropdown a:active,
.aui-dd-parent .aui-dropdown a:focus,
.aui-dropdown a:hover,
.aui-dropdown a:active,
.aui-dropdown a:focus  {
    background: #f2f2f2;
    color: #036;
    padding: 0.3em 0.5em;
}

div.shim {
    position: absolute;
}