html {
    height: 100%;
}

body {
    font-family: verdana, "trebuchet MS", helvetica, sans-serif;
    height:100%;
    background: #fff;
}
h2 {
    font-size: 18px;
    margin:0;
}

.full-width-container {
    height:100%;
    width:100%;
    position:absolute;
    left: 0;
}

/*TOOL BAR*/

#toolbar {
    width: 100%;
    height: 30px;
    padding: 8px 0px;
    margin: 5px 0;
    left: 0;
    background: #002C66;
    box-shadow: 0 2px 2px #555;
    -moz-box-shadow: 0 2px 2px #555;
    -webkit-box-shadow: 0 2px 2px #555;
}

.aui-logo {
    display: inline-block;
    margin-right: 20px;
}

.toolbar-button:hover {
    background: #aaa;
}
.toolbar-button {
    border: 1px solid;
    top:0;
    height: 100%;
    vertical-align:top;
    font-family: verdana, "trebuchet MS", helvetica, sans-serif;
    font-size: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


/*DISPLAY BOXES*/
.box-parent {
    height:50%;
    margin-top: 10px;
    margin-left: 10px;
}

.box-parent .box{
    padding: 2px;
    border: 3px solid #ccc;
    height: 80%;
    width: 99%;
    background: #fff;
}

#component-display-parent h2{
    background: #ccc;
    display: inline-block;
    margin-bottom: -1px;
    padding: 10px;
    color: #003366;
}
#component-display-parent .box {
    border: 3px solid #ccc;
    overflow: scroll;
}

#editor-parent h2 {
    background: #000;
    display: inline-block;
    margin: 0 0 -1px 0;
    padding: 10px;
    color: #fff;
    height: 20px;
} 

#editor-parent .box {
    border: 3px solid #000;
}

/*EXPANDERS*/

.expand-button {
    width: 100px;
    height: 20px;
}

#expand-editor {
    margin: -1px auto 0 auto;
    background: #000;
}

#expand-editor:hover {
    background: #aaa;
}

#expand-display {
    margin: 0px auto 0 auto;
    background: #ccc;  
}

#expand-display:hover {
    background: #aaa;  
}

/*EDITOR TOOLS*/

div#editor-tools {
    border: 1px solid #222;
    height: 30px;
    display: inline-block;
/*    margin: 0 0 0 -20px;*/
    vertical-align: middle;
    padding: 0 15px 0 15px;
    background: #ddd;
    z-index:0;
    position:relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#editor-tools button:hover{
    background: #aaa;
}
#editor-tools button{
    margin-top:3px;
    height: 25px;
    font-family: verdana, "trebuchet MS", helvetica, sans-serif;
    font-size: 14px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
button#refresh{
    border: 1px solid;
}
button#clear{
    border: 1px solid;
}