* html #content-hover-shadow .tl {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/aui/shadow-light/lt.png', sizingMethod='scale');
}
* html #content-hover-shadow .tr {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/aui/shadow-light/rt.png', sizingMethod='scale');
}
* html #content-hover-shadow .br {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/aui/shadow-light/rb.png', sizingMethod='scale');
}
* html #content-hover-shadow .bl {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/aui/shadow-light/lb.png', sizingMethod='scale');
}
* html #content-hover-shadow .b {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/aui/shadow-light/b.png', sizingMethod='scale');
}
* html #content-hover-shadow .l {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/aui/shadow-light/l.png', sizingMethod='scale');
}
* html #content-hover-shadow .r {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/aui/shadow-light/r.png', sizingMethod='scale');
}
