
/* AUI Tabs */
.aui-tabs {
    margin: 0 0 1em 0;
} /* IE */
    .aui-tabs ul.tabs {
        list-style-type: none;
        margin: 0;
        padding: 0;
        z-index: 5;
    }
    .aui-tabs ul.tabs li {
        border: 1px solid #bbb;
        display: block;
        margin: -1px -1px 0 0;
        padding: 0;
    }
        .aui-tabs ul.tabs li a {
            background-color: #f0f0f0;
            color: #535353;
            display: block;
            font-weight: 700;
            overflow: hidden;
            padding: 0.4em 0.5em 0.2em;
            text-decoration: none;
            white-space: nowrap;
        }
        .aui-tabs ul.tabs li a:active,
        .aui-tabs ul.tabs li a:visited {
            background-color: #f0f0f0;
            color: #535353;
        }
        .aui-tabs ul.tabs li a:hover,
        .aui-tabs ul.tabs li a:active,
        .aui-tabs ul.tabs li a:focus {
            background-color: #fff;
            color: #535353;
        }
    .aui-tabs ul.tabs li.active-tab {
        background-color: #fff;
    }
        .aui-tabs ul.tabs li.active-tab a {
            background-color: #fff;
            color: #000;
        } /* IE */
        .aui-tabs ul.tabs .active-tab a:focus {
            outline: none;
        }
.aui-tabs ul.tabs li.active-tab strong {
    background-color: transparent;
    color: #000;
}
    .aui-tabs .pane {
        border: 1px solid #bbb;
        display: none;
        padding: 1em;
    }
    .aui-tabs .active-pane {
        display: block;
    }

/* vertical tabs
- as used on browse projects */
.v-tabs ul.tabs {
    float: left;
    width: 11.1em;
} /* IE */
    .v-tabs ul.tabs li {
        margin: -1px 0 0 1em;
    } /* IE */
    .v-tabs ul.tabs li.first {
        margin-top: 1em;
        padding: 0;
    }
    .v-tabs ul.tabs li.active-tab {
        background-color: #fff;
        border-right: none;
        margin-left: 0;
    } /* IE */
    .v-tabs .pane {
        margin: 0 0 0 11em;
        position: relative;
        z-index: 1;
    }

/* horizontal tabs*/
.h-tabs ul.tabs {
    overflow: hidden;
    position: relative;
    top: 1px;
} /* IE */
    .h-tabs ul.tabs li {
        float: left;
        margin: 0 -1px 0 0;
        width: auto;
        white-space: nowrap;
    } /* IE */
    .h-tabs ul.tabs li.first {
        margin-left: 1em;
    }
    .h-tabs ul.tabs li.active-tab {
        border-bottom-color: #fff;
        color: #000;
    }


/* end tabs */
