@import url("../../../../../auiplugin/src/main/resources/css/atlassian/basic.css");
@import url("../../../../../auiplugin/src/main/resources/css/atlassian/firebug.css");
@import url("../../../../../auiplugin/src/main/resources/css/atlassian/dialog.css");
@import url("../../../../../auiplugin/src/main/resources/css/atlassian/dropdown.css");
@import url("../../../../../auiplugin/src/main/resources/css/atlassian/forms.css");
@import url("../../../../../auiplugin/src/main/resources/css/atlassian/icons.css");
@import url("../../../../../auiplugin/src/main/resources/css/atlassian/inline-dialog.css");
@import url("../../../../../auiplugin/src/main/resources/css/atlassian/messages.css");
@import url("../../../../../auiplugin/src/main/resources/css/atlassian/tables.css");
@import url("../../../../../auiplugin/src/main/resources/css/atlassian/tabs.css");
@import url("../../../../../auiplugin/src/main/resources/css/atlassian/toolbar.css");

body {
    font-family: sans-serif; 
    font-size: 10pt;
    background: #ddd;
}

.navigation a{
    color: #555;
    text-decoration: none;
}

.navigation a:hover{
    color: #000;
    text-decoration: none;
}

.aui-test {
    clear:both;
    border: solid 1px; 
    margin-bottom: 5px; 
    padding: 10px;
    background: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 2px 2px #555;
    -moz-box-shadow: 0 2px 2px #555;
    -webkit-box-shadow: 0 2px 2px #555;
/*        overflow:auto;*/
}

.JSsource,
.HTMLsource {
    border: 1px dashed;
}

.sources {
    clear:both;
}

.view-html-source-link{
    margin-top: 10px;
    margin-bottom: 10px;
}

.view-html-source-link a{
    color: #aaa;
    text-decoration: none;
}

.view-html-source-link a:hover{
    color: #000;
    text-decoration: none;
}

.view-js-source-link{
    margin-top: 10px;
    margin-bottom: 10px;
}

.view-js-source-link a{
    color: #aaa;
    text-decoration: none;
}

.view-js-source-link a:hover{
    color: #000;
    text-decoration: none;
}

.shim-test {
    padding:15px;
    border:1px dashed #333;
    background-color:#eee;
}

.shims-required .shim-test,
.shims-required-left .shim-test {
    display:inline-block;
    left:0;
}

.shims-required-right {
    overflow:auto;
}

.shims-required-right .shim-test {
    float:right;
}

.shims-required-center .shim-test {
    width: 500px;
    margin:0px auto;
    text-align:center;
}
