/******************************/
#property-panel {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
}
#property-panel .aui-tip-parent {
    position: absolute;
    height: 12px
}
/* Property panel buttons*/
#property-panel div {
    white-space: nowrap;
}
#property-panel a {
    background-image: url(images/property-panel/button_bg.png);
    background-position: 0 100%;
    border: 1px solid #ddd;
    color: #000;
    display: inline-block;
    float: left;
    margin: 0 -1px 0 0;
    padding: 3px 8px 2px;
    text-decoration: none;
}
#property-panel a.disabled, #property-panel a.disabled:active {
    background-image: none;
    background: #eef;
    color: #ddd;
}
#property-panel a.selected {
    background-image: none;
    background: #d8e4f0;
}
#property-panel a.first {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#property-panel a.last {
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 10px 0 0;
}
#property-panel a:hover {
    background-position: 100% 0;
    color: #4f85bc;
}

.aui-property-panel{
    border: 1px solid #e2e2e2;
	background-color: #f0f0f0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    padding: 10px;
    overflow: auto;
}
