<h2>Inserted with JS</h2>
<div id="aui-message-bar"></div>
<div id="custom-context"></div>

<h2>Inserted with HTML</h2>
<div class="aui-message shadowed">
    <p class="title">
        <span class="aui-icon icon-generic"></span>
        <strong>This is a generic message.</strong>
    </p>
    <p>It is pitch black. You are likely to be eaten by a grue.</p>
</div><!-- .aui-message -->

<div class="aui-message warning shadowed">
    <p class="title">
        <span class="aui-icon icon-warning"></span>
        <strong>It's dangerous to go alone</strong>
    </p>
    <p>Here, take this.</p>
</div><!-- .aui-message -->            
    
<div class="aui-message error shadowed">
    <p class="title">
        <span class="aui-icon icon-error"></span>
        <strong>Woah! Something went wrong!</strong>
    </p>
    <p>The savepoints are really far apart in this level.</p>
</div><!-- .aui-message -->            

<div class="aui-message success shadowed">
    <p class="title">

        <span class="aui-icon icon-success"></span>
        <strong>Thank you Mario!</strong>
    </p>
    <p>But the Princess is in another castle.</p>
</div><!-- .aui-message -->            

<div class="aui-message hint shadowed closeable">
    <p class="title">
        <span class="aui-icon icon-hint "></span>

        <strong>We'll give you a hint to avoid that problem next time.</strong>
    </p>
    <p>But first you have to catch the Help Cat with that stupid Wiimote.</p>
</div><!-- .aui-message -->   