/**
 * RESET
 */

html, body, p, div, h1, h2, h3, h4, h5, h6, img, ul, ol, li, dl, dt, dd, pre, form, fieldset {
    margin: 0;
    padding: 0;
}

/**
 * PAGE LAYOUT
 */
.aui-layout #header {
    clear: both;
    float: left;
    width: 100%;
}

.aui-layout #header input[type='search'] {
    margin: 2px 0 0 0;
    padding: 0;
}

.aui-layout #header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.aui-layout #header .global,
.aui-layout #header .global .primary,
.aui-layout #header .global .primary > ul,
.aui-layout #header .global .primary > ul > li,
.aui-layout #header .local,
.aui-layout #header .local .primary,
.aui-layout #header .local .primary > ul,
.aui-layout #header .local .primary > ul > li {
    float: left;
}

.aui-layout #header .global .secondary,
.aui-layout #header .global .secondary > ul,
.aui-layout #header .global .secondary > ul > li,
.aui-layout #header .local .secondary,
.aui-layout #header .local .secondary > ul,
.aui-layout #header .local .secondary > ul > li {
    float: right;
}

.aui-layout #header #logo {
    margin: 0;
    padding: 0;
}

.aui-layout #header .local,
.aui-layout #header .global {
    width: 100%;
}


.aui-layout #content {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    margin: 0;
	padding: 0;
    position: relative;
} 

.aui-layout #content > header {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
	margin: 16px 0;
    position: relative;
} 

.aui-layout #content > header h1,
#content > header h2 {
    margin: 0;
} 

.aui-layout #content > header + .content-body {
    margin-top: 0;
} 

.aui-layout #content > header + .content-container {
    padding-top: 0;
} 

.aui-layout #footer {
    clear: both;
    float: left;
    margin: 0;
    padding: 0 0 16px 0;
    width: 100%;
} 

.aui-layout #footer .footer-body {
    background-color: transparent;
    color: #505050;
    font-size: 11px;
    line-height: 1.364;
    margin: 0;
    padding: 0 16px;
} 

.aui-layout #footer .footer-body > ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
} 

.aui-layout #footer .footer-body {
    text-align: center;    
}
.aui-layout #footer .footer-body > ul > li {
    display: inline-block;
    margin: 0 0 0 16px;
    padding: 0;
} 
.aui-layout #footer .footer-body > ul > li:first-child {
	margin: 0;
}


/**
 * PAGE DESIGN
 */

.aui-theme-default {
    background-color: #F0F0F0;
    color: #000;
}

.aui-theme-default a,
.aui-theme-default a:link,
.aui-theme-default a:visited {
    color: #3C78B5;
    text-decoration: none;
}
.aui-theme-default a:focus,
.aui-theme-default a:hover,
.aui-theme-default a:active {
    color: #3C78B5;
    text-decoration: underline;
}

.aui-theme-default h1, .aui-theme-default h2, .aui-theme-default h3, .aui-theme-default h4, .aui-theme-default h5, .aui-theme-default h6 {
    color: #000;
}

.aui-theme-default #header .global {
    background-color: #003366;
    color: #fff;
}

.aui-theme-default #header a {
    color: #fff;
}

.aui-theme-default #header .global .primary > ul {
    padding: 0 0 0 8px;
}

.aui-theme-default #header .global .primary > ul > li {
    margin: 0 8px 0 0;
}

.aui-theme-default #header .global .primary > ul > li > a {
    display: block;
    padding: 4px;
    white-space: nowrap;
}

.aui-theme-default #header .global .secondary > ul {
    padding: 0 8px 0 0;
}

.aui-theme-default #header .global .secondary > ul > li {
    margin: 0 0 0 8px;
}

.aui-theme-default #header .global .secondary > ul > li > a {
    display: block;
    padding: 4px;
    white-space: nowrap;
}


.aui-theme-default #header .local {
    background-color: #326ca6;
    border-top: 1px solid #003366;
    color: #fff;
}


.aui-theme-default #header .local .primary > ul {
    padding: 0 0 0 8px;
}

.aui-theme-default #header .local .primary > ul > li {
    background-color: #326ca6;
    color: #fff;
}

.aui-theme-default #header .local .primary > ul > li {
    background-color: #326ca6;
    color: #fff;
    margin: 0 8px 0 0;
}

.aui-theme-default #header .local .primary > ul > li > a {
    display: block;
    padding: 4px;
    white-space: nowrap;
}

.aui-theme-default #header .local .primary > ul > li > a:hover {
    background-color: #fff;
    color: #333;
}

.aui-theme-default #header .local .primary > ul > li.selected,
.aui-theme-default #header .local .primary > ul > li.selected a {
    background: #f0f0f0;
    color: #333;
}

.aui-theme-default #header .local .secondary > ul {
    padding: 0 8px 0 0;
}

.aui-theme-default #header .local .secondary > ul > li {
    margin: 0 0 0 8px;
}

.aui-theme-default #header .local .secondary > ul > li > a {
    display: block;
    padding: 4px;
    white-space: nowrap;
}


/**
 * TYPOGRAPHY
 */
.aui-theme-default {
    font-family: Arial,FreeSans,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.308;    
}
.aui-theme-default p {
    margin-bottom: 16px;
}
.aui-theme-default h1, .aui-theme-default h2, .aui-theme-default h3, .aui-theme-default h4, .aui-theme-default h5, .aui-theme-default h6 {
    margin: 0 0 16px;
}
.aui-theme-default h1 {
    font-size: 24px;
    line-height: 1.167;
}
.aui-theme-default h2 {
    font-size: 22px;
    line-height: 1.182;
}
.aui-theme-default h3 {
    font-size: 18px;
    line-height: 1.222;
}
.aui-theme-default h4 {
    font-size: 16px;
    line-height: 1.25;
}
.aui-theme-default h5 {
    font-size: 14px;
    line-height: 1.286;
}
.aui-theme-default h6 {
    font-size: 12px;
}

.aui-theme-default ul {
    margin: 0 0 16px;
    padding: 0 0 0 24px;
}
.aui-theme-default ol {
    list-style-position: outside;
    list-style-type: decimal;
    margin: 0 0 16px;
    padding: 0 0 0 24px;
}



/**
 * CONTENT PANEL
 */
.aui-theme-default .content-panel {
    background: white;
    border: 1px solid #bbb;
    border-radius: 5px;
	margin: 0;
	padding: 16px;
}

.aui-theme-default .content-panel *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

/**
 * PAGE TABS
 */
.aui-theme-default #content > .aui-tabs.vertical-tabs .tabs-pane {
    background: #fff;
    border-radius: 5px;
}

.aui-theme-default #content > .aui-tabs.vertical-tabs > ul.tabs-menu li.menu-item.active-tab {
    margin-right: -1px;
}

.aui-theme-default #content > .aui-tabs.horizontal-tabs li.menu-item,
/*.aui-theme-default #content > .aui-tabs.horizontal-tabs li.menu-item.active-tab,
.aui-theme-default #content > .aui-tabs.horizontal-tabs li.menu-item.active-tab a,*/
.aui-theme-default #content > .aui-tabs.horizontal-tabs li.menu-item a {
    background: inherit;
    border-top-color: #f0f0f0;
    border-right-color: #f0f0f0;
    border-left-color: #f0f0f0;
}

/*.aui-theme-default #content > .aui-tabs.horizontal-tabs li.menu-item.active-tab,*/
/*.aui-theme-default #content > .aui-tabs.horizontal-tabs li.menu-item.active-tab a strong {*/
/*    background: inherit;*/
/*    border-bottom-color: #f0f0f0;*/
/*}*/

.aui-theme-default #content > .aui-tabs.horizontal-tabs .tabs-pane {
    background: white;
    border: 1px solid #bbb;
    border-radius: 5px;
	margin: 0;
	padding: 16px;
}

.aui-theme-default #content > .aui-tabs.horizontal-tabs .tabs-pane *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}



/**
 * Spacing system
 */
.aui-theme-default #content {
    padding: 16px 16px 0 16px;
}

.aui-theme-default #content > div,
.aui-theme-default #content > section,
.aui-theme-default #content > header,
.aui-theme-default #content > footer,
.aui-theme-default .content-panel > div,
.aui-theme-default .content-panel > section,
.aui-theme-default .content-panel > header,
.aui-theme-default .content-panel > footer,
.aui-theme-default .content-panel,
.aui-theme-default .aui-group {
	margin: 0 0 16px 0;
}

.aui-theme-default .content-panel:last-child,
.aui-theme-default .aui-group:last-child {
	margin: 0;
}


/**
 * GROUP/ITEM
 */

.aui-group {
    display: table;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    table-layout: fixed;
    width: 100%;
}

.aui-group > .aui-item {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    padding-left: 16px;
    vertical-align: top;
}

.aui-group > .aui-item:first-child {
    padding-left: 0;
}

/* defensive header allowance */
.aui-layout .aui-group > header {
    display: table-caption;
}

/* .aui-group-split: two items; alignmnet is left, then right (splits the layout). */
.aui-group.aui-group-split > .aui-item {
	text-align: right;
}
.aui-group.aui-group-split > .aui-item:first-child {
	text-align: left;
}

/* .aui-group-trio: three items; alignment is left, center, right */
.aui-group.aui-group-trio > .aui-item {
	text-align: left;
}
.aui-group.aui-group-trio > .aui-item + .aui-item {
	text-align: center;
}
.aui-group.aui-group-trio > .aui-item + .aui-item + .aui-item {
	text-align: right;
}

