<div class="aui-message error shadowed">
    <p class="title"> 
        <span class="aui-icon icon-error"></span> 
        <strong>This is a title in a Default message.</strong> 
    </p> 
    <p>And this is just content in a Default message.</p> 
</div><!-- .aui-message -->

<div class="aui-message closeable">
    <p class="title"> 
        <span class="aui-icon icon-generic"></span> 
        <strong>This is a title in a Default message.</strong> 
    </p> 
    <p>And this is just content in a Default message. Note this one is closeable and has no shadow.</p> 
</div><!-- .aui-message -->
