<div class="aui-tabs horizontal-tabs" id="tabs-example">
    <ul class="tabs-menu">
        <li class="menu-item active-tab">
            <a href="#tabs-example-first"><strong>Tab 1 - Active</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-example-second"><strong>Tab 2</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-example-third"><strong>Tab 3 has a very long tab name</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-example-fourth"><strong>Tab4hasaveryverylongnonspacedname</strong></a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="tabs-example-first">
        <h2>This is Tab 1</h2>
        <p>Catapultam habeo. Nisi pecuniam omnem mihi dabis, ad caput tuum saxum immane mittam.</p>
        <p>Sentio aliquos togatos contra me conspirare.</p>
        <p>Quantum materiae materietur marmota monax si marmota monax materiam possit materiari?</p>

        <div class="aui-message hint shadowed closeable">
            <p class="title">
                <span class="aui-icon icon-hint "></span>
                <strong>Hint</strong>
            </p>
            <p>Try changing the <code>horizontal-tabs</code> class to <code>vertical-tabs</code></p>
        </div><!-- .aui-message -->   

    </div>
    <div class="tabs-pane" id="tabs-example-second">
        <h2>This is Tab 2</h2>
        <p>Catapultam habeo. Nisi pecuniam omnem mihi dabis, ad caput tuum saxum immane mittam.</p>
        <p>Sentio aliquos togatos contra me conspirare.</p>
        <p>Quantum materiae materietur marmota monax si marmota monax materiam possit materiari?</p>
    </div>
    <div class="tabs-pane" id="tabs-example-third">
        <h2>This is Tab 3</h2>
        <p>Catapultam habeo. Nisi pecuniam omnem mihi dabis, ad caput tuum saxum immane mittam.</p>
        <p>Sentio aliquos togatos contra me conspirare.</p>
        <p>Quantum materiae materietur marmota monax si marmota monax materiam possit materiari?</p>
    </div>
    <div class="tabs-pane" id="tabs-example-fourth">
        <h2>This is Tab 4</h2>
        <p>Catapultam habeo. Nisi pecuniam omnem mihi dabis, ad caput tuum saxum immane mittam.</p>
        <p>Sentio aliquos togatos contra me conspirare.</p>
        <p>Quantum materiae materietur marmota monax si marmota monax materiam possit materiari?</p>
    </div>
</div> <!-- // .aui-tabs -->