<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-au">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>AUI Template Example</title>
    <link type="image/x-icon" rel="shortcut icon" href="http://www.atlassian.com/favicon.ico">
    <link type="text/css" rel="stylesheet" href="../../main/resources/css/atlassian/basic.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../main/resources/css/atlassian/firebug.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../main/resources/css/atlassian/dialog.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../main/resources/css/atlassian/dropdown.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../main/resources/css/atlassian/forms.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../main/resources/css/atlassian/icons.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../main/resources/css/atlassian/inline-dialog.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../main/resources/css/atlassian/messages.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../main/resources/css/atlassian/tables.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../main/resources/css/atlassian/tabs.css" media="all">
    <!--[if IE]>
        <link type="text/css" rel="stylesheet" href="../../main/resources/css/atlassian/dialog-ie.css" media="all">
        <link type="text/css" rel="stylesheet" href="../../main/resources/css/atlassian/dropdown-ie.css" media="all">
        <link type="text/css" rel="stylesheet" href="../../main/resources/css/atlassian/forms-ie.css" media="all">
        <link type="text/css" rel="stylesheet" href="../../main/resources/css/atlassian/inline-dialog-ie.css" media="all">
    <![endif]-->

    <style type="text/css">
        body {color: #333; font-family: sans-serif; font-size: 10pt;}
    </style>
</head>
<body>
    <h1>AUI Template Example</h1>

    <h2>Template populated purely in JS</h2>
    <div id="template-js-container"></div>

    <h2>Template retrieved from an in-markup template</h2>
    <script type="text/x-template" title="markup-template">
        Hello, {name}. Welcome to {application}.<br>
    </script>
    <div id="template-markup-container"></div>

    <h2>Template rendered with HTML snippets</h2>
    <script type="text/x-template" title="html-template">
        Here is some HTML content injected into the template: {content} (escaped content: {escaped}).
    </script>
    <div id="template-html-container"></div>

    <h2>Template example from documentation</h2>
    <script type="text/x-template" title="test-main">
        <p>Demonstration of the templating mechanism.</p>
        <p {class}>Hello, {title}{name()}</p>
        {list}
    </script>
    <script type="text/x-template" title="test-class"> class="marked"</script>
    <script type="text/x-template" title="test-fulllist">
        <ul>{list}</ul>
    </script>
    <script type="text/x-template" title="test-emptylist">
        <p>List is empty</p>
    </script>
    <script type="text/x-template" title="test-list">
        <li><a href="{url}">{name}</a></li>
    </script>
    <div id="template-complex-container"></div>

<script type="text/javascript" src="../common.js"></script>

<script type="text/javascript">
    AJS.$(function() {

        // example of rendering a template in JS
        AJS.$("#template-js-container").append(AJS.template("Hello, {location}!").fill({ location: "world" }));

        // example of rendering a template found in the markup
        AJS.$("#template-markup-container")
                .append(AJS.template.load("markup-template").fill({ name: "John", application: "Atlassian JIRA" }))
                .append(AJS.template.load("markup-template").fill({ name: "Mary", application: "Atlassian Confluence" }));

        // example of rendering HTML content in a template
        AJS.$("#template-html-container").append(AJS.template.load("html-template").fill({ "content:html": "<b>bold text</b>", escaped: "<b>bold text</b>" }));

        // complex example from documentation
        function  transform(json) {
            if (json.marked) {
                json["class:html"] = AJS.template.load("test-class");
            }
            var list = "";
            for (var i = 0, ii = json.list && json.list.length; i < ii; i++) {
                list += AJS.template.load("test-list").fill(json.list[i]);
            }
            json["list:html"] = ii ? AJS.template.load("test-fulllist").fillHtml({list: list}) : AJS.template.load("test-emptylist");
            delete json.list;
            return json;
        }
        var json = {
            name: function () {
                return "Abraham Gopnik";
            },
            list: [{
                    url: "http://apple.com",
                    name: "Apple"
                }, {
                    url: "http://google.com",
                    name: "Google"
                }],
            marked: true
        };
        var r = AJS.template.load("test-main").fill(transform(json));
        // we could fill title separately
        r.fill({"title:html": "<strong>Mr.</strong> "});
        AJS.$("#template-complex-container").html(r);
    });
</script>
</body>
</html>