/**
  * The structure of this file pre-supposes two conditions:
  * - That the file is served via a conditional comment of [if IE]
  * - That de-bugging starts with IE8 and moves down through IE7 to IE6
  **/

/** 
  * Fixes for IE8, IE7 and IE6
  * - each property should be written without CSS hacks
  * eg: .dashboard {margin: 0 0 2px 1px;}
  *
  **/
  .blanket {filter: alpha(opacity = 50); position: fixed;}
  .shadow,
  .popup {position: absolute; top: 0;}


/** 
  * Fixes for IE7 and IE6
  * - each property *must* be prefixed with an asterisk (*)
  * eg: .dashboard {*margin: 0 0 4px 2px;}  
  *
  **/
  body {*filter: true; *overflow: hidden;}
  .blanket {*height: 100px; *position: absolute;}
  .dialog {*position: absolute;}
  .dialog .button-panel {*bottom: auto; *top: 92%; *z-index: 3001;}

/** 
  * Fixes for IE6 only
  * - each property *must* be prefixed with an underscore (_)
  * eg: .dashboard {_margin: 0 0 0 1px; _padding: 0 0 -3px 0;}
  *
  **/
  .shadow .tl {_background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/shadow/lt.png', sizingMethod='scale');}
  .shadow .tr {_background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/shadow/rt.png', sizingMethod='scale');}
  .shadow .br {_background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/shadow/rb.png', sizingMethod='scale');}
  .shadow .bl {_background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/shadow/lb.png', sizingMethod='scale');}
  .shadow .b {_background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/shadow/b.png', sizingMethod='scale');}
  .shadow .l {_background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/shadow/l.png', sizingMethod='scale');}
  .shadow .r {_background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/shadow/r.png', sizingMethod='scale');}
