<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-au">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Demo Page Template</title>
    <link type="image/x-icon" rel="shortcut icon" href="http://www.atlassian.com/favicon.ico">
    <link type="text/css" rel="stylesheet" href="../../../../auiplugin/src/main/resources/css/atlassian/basic.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../../../auiplugin/src/main/resources/css/atlassian/firebug.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../../../auiplugin/src/main/resources/css/atlassian/dialog.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../../../auiplugin/src/main/resources/css/atlassian/dropdown.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../../../auiplugin/src/main/resources/css/atlassian/forms.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../../../auiplugin/src/main/resources/css/atlassian/icons.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../../../auiplugin/src/main/resources/css/atlassian/inline-dialog.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../../../auiplugin/src/main/resources/css/atlassian/messages.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../../../auiplugin/src/main/resources/css/atlassian/tables.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../../../auiplugin/src/main/resources/css/atlassian/tabs.css" media="all">
    <link type="text/css" rel="stylesheet" href="../common.css" media="all">
    <!--[if IE]>
        <link type="text/css" rel="stylesheet" href="../../../../auiplugin/src/main/resources/css/atlassian/dialog-ie.css" media="all">
        <link type="text/css" rel="stylesheet" href="../../../../auiplugin/src/main/resources/css/atlassian/dropdown-ie.css" media="all">
        <link type="text/css" rel="stylesheet" href="../../../../auiplugin/src/main/resources/css/atlassian/forms-ie.css" media="all">
        <link type="text/css" rel="stylesheet" href="../../../../auiplugin/src/main/resources/css/atlassian/inline-dialog-ie.css" media="all">
    <![endif]-->

    <script type="text/javascript" src="../common.js"></script>
    <style type="text/css">
        body {color: #333; font-family: sans-serif; font-size: 10pt;}
    </style>
</head>
<body>
    <div class="navigation">
        <h2> AUI Demo Page Template </h2>
        <h4><a href="../index.html"> Back to AUI Demo </a></h4>
    </div>
    
    <div class="aui-demo">
        <h2> Demo Template</h2>
        <p class="description"> Write a Demo here </p>
        <div class="html-code">
            <!-- add html code for demo here -->
        </div>
        <script type="text/javascript" class="js-code">
            addSample(function() {
                //add demo js code here
            });
        </script>    
    </div>
    
<script type="text/javascript">    
    AJS.$(function() {

        createViewSourceLinks();
    });
</script>
</body>
</html>