<!DOCTYPE html>
<html lang="en-au">
<head>
    <meta charset="utf-8">
    <meta name="decorator" content="atl.general">
    
    <title>AUI Test Page</title>

    <link type="text/css" rel="stylesheet" href="../common.css" media="all">    
</head>
<body>
    <div class="navigation">
        <h2>AUI Test Page</h2>
        <h4><a href="../index.html">Back to AUI Demo</a></h4>
    </div>
    
    <div class="aui-test" id="error-icon">
        <h2>This is an AUI Test</h2>
        <p class="description">Write your test description here</p>
        <div class="html-code">
            <!-- WRITE TEST HTML CODE HERE -->
        </div>
        <div class="js-code"> 
            <script type="text/javascript">
                // WRITE TEST JS CODE HERE
            </script>
        </div>
    </div>

    <script type="text/javascript" src="../common.js"></script>

</body>
</html>