.ajs-inline-dialog {
    font-size: 13px;
    position: absolute;
    display: none;
    z-index: 100;
}

.ajs-inline-dialog .contents {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #bbb;
    background: white;
    width: 300px;
    overflow: hidden;
}


.ajs-inline-dialog .button-panel{
    background:#FFFFFF none repeat scroll 0 0;
    border-top:1px solid #EEEEEE;
    clear:both;
    height:23px;
    margin:0;
    padding:8px 10px;
    text-align:right;
}

.ajs-inline-dialog .button-panel input{
    padding:2px;
    display:inline;
}

#inline-dialog-shadow {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: -16px;
}
#inline-dialog-shadow * {
    position: absolute;
}
#inline-dialog-shadow .tl {
    left: 0;
    top: 0;
    width: 16px;
    height: 17px;
    background: url(images/shadow/lt.png);
}
#inline-dialog-shadow .tr {
    right: 0;
    top: 0;
    width: 16px;
    height: 17px;
    background: url(images/shadow/rt.png);
}
#inline-dialog-shadow .br {
    right: 0;
    bottom: 0;
    width: 29px;
    height: 29px;
    background: url(images/shadow/rb.png);
}
#inline-dialog-shadow .bl {
    left: 0;
    bottom: 0;
    width: 29px;
    height: 29px;
    background: url(images/shadow/lb.png);
}
#inline-dialog-shadow .b {
    left: 29px;
    bottom: 0;
    height: 29px;
    width: 29px;
    background: url(images/shadow/b.png);
}
#inline-dialog-shadow .l {
    left: 0;
    top: 17px;
    width: 16px;
    background: url(images/shadow/l.png);
}
#inline-dialog-shadow .r {
    right: 0;
    top: 17px;
    width: 16px;
    background: url(images/shadow/r.png);
}

.ajs-inline-dialog .arrow{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(images/arrow.png);
    background-color: transparent;
    position:absolute;
    top:-7px;
}

.ajs-button a{
    outline:none;
}