<ul id = "dropDown-standard" class="styled-parent">
    <li class="aui-dd-parent">
        <a href="#" class="aui-dd-trigger unstyled">A Standard Dropdown</a>
        <ul class="aui-dropdown">
            <li class="dropdown-item"><a href="http://www.google.com" target="_blank" class="item-link">Standard</a></li>
            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
            <li class="dropdown-item"><a href="#" class="item-link">Standard</a></li>
        </ul>
    </li>
</ul>