<form action="#" method="post" id="h" class="aui unsectioned">
    <h2>Heading h2</h2>
    <div class="field-group">
        <label for="h-fname" accesskey="e">First Name<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
        <input class="text" type="text" id="h-fname" name="fname" title="first name">
    </div>
    <h3>Heading h3</h3>
    <div class="field-group">
        <label for="h-lname" accesskey="e">Last Name<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
        <input class="text long-field" type="text" id="h-lname" name="lname" title="last name">
    </div>
    <div class="buttons-container">
        <div class="buttons">
            <input class="button submit" type="submit" value="Save" id="h-save-btn1">
            <a class="cancel" href="forms.html#">Cancel</a>
        </div>
    </div>
</form>

<form action="forms.html#" method="post" id="dfv" class="aui">
    <h2>Field Value State</h2>
    <fieldset>
        <legend><span>Text Entry</span></legend>
        <div class="field-group">
            <label for="fname" accesskey="e">First Name<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
            <span class="field-value">My First Name</span>
            <div class="description">Descriptive text here.</div>
        </div>
        <div class="field-group">
            <label for="lname" accesskey="e">Last Name<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
            <span class="field-value">My Last Name</span>
            <div class="description">Descriptive text here.</div>
        </div>
        <div class="field-group">
            <label for="email1" accesskey="e">Email</label>
            <span class="field-value">my@email.com</span>
            <div class="description">Descriptive text here.</div>
        </div>
        <div class="field-group">
            <label>Testing empty field</label>
            <span class="field-value"> </span>
        </div>
    </fieldset>

    <fieldset class="group">
        <legend><span>Checkboxes View</span></legend>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" checked="checked" disabled="disabled" name="cbOne" id="cbOned">
            <label for="cbOned">Disabled Checkbox One</label>
        </div>
        <div class="checkbox">
            <input class="checkbox" type="checkbox" disabled="disabled" name="cbTwo" id="cbTwod">
            <label for="cbTwod">Disabled Checkbox Two</label>
        </div>
    </fieldset>

    <fieldset class="group">
        <legend><span>Radio Buttons</span></legend>
        <div class="radio">
            <input class="radio" type="radio" disabled="disabled" checked="checked" name="rads" id="irOned">
            <label for="irOned">Disabled Radio One</label>
        </div>
        <div class="radio">
            <input class="radio" type="radio" disabled="disabled" name="rads" id="irTwod">
            <label for="irTwod">Disabled Radio Two</label>
        </div>
        <div class="radio">
            <input class="radio" type="radio" disabled="disabled" name="rads" id="irThreed">
            <label for="irThreed">Disabled RadioThree</label>
        </div>
    </fieldset>

    <div class="buttons-container">
        <div class="buttons">
            <input class="button" type="button" value="Edit" id="edit-btn1">
        </div>
    </div>

    <h2>Pre text area</h2>
    <div class="field-group">
        <pre class="aui-form">
BAM2573-BAMFUNC-18
Dependant of BAM2573-HEAD-40
** LONG STRING **
100 passedBAM2573-BAMFUNC-17Dependant of BAM2573-HEAD-262 months ago (06:11 PM, Fri, 15 Aug)

failedAM2573-BAMFUNC-16Dependant of BAM2573-HEAD-252 months ago (06:08 PM, Thu, 14 Aug)

30 minutes3 out of 100 failedAM2573-BAMFUNC-16Dependant of BAM2573-HEAD-252 months ago (06:08 PM, Thu, 14 Aug)
        </pre>
    </div>

    <div class="field-group">
        <p>Paragraph: <span><strong>span text, in a paragraph the inline-text class is not required</strong></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>

    <div class="buttons-container">
        <div class="buttons">
            <h4>input class="button" vs HTML button</h4>
            <input class="button submit" type="submit" value="input" id="edit-btn">
            <button>Button</button>
            <a class="cancel" href="forms.html#">Cancel</a>
        </div>
    </div>
</form>
