<table class="aui" id="basic">
    <thead>
        <tr>
            <th id="basic-name">Name</th>
            <th id="basic-type">Type</th>
            <th id="basic-order">Order</th>
            <th id="basic-action">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="basic-name">Default</td>
            <td headers="basic-type">Internal Directory</td>
            <td headers="basic-order">
                <ul class="menu">
                    <li>
                        <a class="down" href="#">Down</a>
                    </li>
                </ul>
            </td>
            <td headers="basic-action">
                <ul class="menu">
                    <li>
                        <a href="#">An Action</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td headers="basic-name">Corporate LDAP</td>
            <td headers="basic-type">Microsoft Active Directory</td>
            <td headers="basic-order">
                <ul class="menu">
                    <li>
                        <a class="up" href="#">Up</a>
                    </li>
                    <li>
                        <a class="down" href="#">Down</a>
                    </li>
                </ul>
            </td>
            <td headers="basic-action">
                <ul class="menu">
                    <li>
                        <a href="#">An Action</a>
                    </li>
                    <li>
                        <a href="#">Another Action</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td headers="basic-name">Corporate LDAP</td>
            <td headers="basic-type">Microsoft Active Directory</td>
            <td headers="basic-order">
                <ul class="menu">
                    <li>
                        <a class="up" href="#">Up</a>
                    </li>
                    <li>
                        <a class="down" href="#">Down</a>
                    </li>
                </ul>
            </td>
            <td headers="basic-action">
                <ul class="menu">
                    <li>
                        <a href="#">An Action</a>
                    </li>
                    <li>
                        <a href="#">Another Action</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td headers="basic-name">Corporate LDAP</td>
            <td headers="basic-type">Microsoft Active Directory</td>
            <td headers="basic-order">
                <ul class="menu">
                    <li>
                        <a class="up" href="#">Up</a>
                    </li>
                    <li>
                        <a class="down" href="#">Down</a>
                    </li>
                </ul>
            </td>
            <td headers="basic-action">
                <ul class="menu">
                    <li>
                        <a href="#">An Action</a>
                    </li>
                    <li>
                        <a href="#">Another Action</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td headers="basic-name">Contractor Directory</td>
            <td headers="basic-type">Internal Directory</td>
            <td headers="basic-order">
                <ul class="menu">
                    <li>
                        <a class="up" href="#">Up</a>
                    </li>
                </ul>
            </td>
            <td headers="basic-action">
                <ul class="menu">
                    <li>
                        <a href="#">An Action</a>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>