@import url("../../../auiplugin/src/main/resources/css/atlassian/basic.css");
@import url("../../../auiplugin/src/main/resources/css/atlassian/firebug.css");
@import url("../../../auiplugin/src/main/resources/css/atlassian/dialog.css");
@import url("../../../auiplugin/src/main/resources/css/atlassian/dropdown.css");
@import url("../../../auiplugin/src/main/resources/css/atlassian/forms.css");
@import url("../../../auiplugin/src/main/resources/css/atlassian/icons.css");
@import url("../../../auiplugin/src/main/resources/css/atlassian/inline-dialog.css");
@import url("../../../auiplugin/src/main/resources/css/atlassian/messages.css");
@import url("../../../auiplugin/src/main/resources/css/atlassian/tables.css");
@import url("../../../auiplugin/src/main/resources/css/atlassian/tabs.css");
@import url("../../../auiplugin/src/main/resources/css/atlassian/toolbar.css");

body {
    font-family: sans-serif;
    font-size: 10pt;
    background: #ddd;
    color: #333;
    font-family: sans-serif;
    font-size: 10pt;
}

.navigation a {
    color: #555;
    text-decoration: none;
}

.navigation a:hover {
    color: #000;
    text-decoration: none;
}

.shim-testing {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    border-top: 1px solid;
}

.aui-test {
    border: solid 1px;
    margin-bottom: 5px;
    padding: 10px;
    background: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.aui-demo {
    border: solid 1px;
    margin-bottom: 5px;
    padding: 10px;
    background: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 2px 2px #555;
    -webkit-box-shadow: 0 2px 2px #555;
    box-shadow: 0 2px 2px #555;
}

.JSsource,
.HTMLsource {
    border: 1px dashed;
}

.view-html-source-link {
    margin-top: 10px;
    margin-bottom: 10px;
}

.view-html-source-link a {
    color: #aaa;
    text-decoration: none;
}

.view-html-source-link a:hover {
    color: #000;
    text-decoration: none;
}

.view-js-source-link {
    margin-top: 10px;
    margin-bottom: 10px;
}

.view-js-source-link a {
    color: #aaa;
    text-decoration: none;
}

.view-js-source-link a:hover {
    color: #000;
    text-decoration: none;
}


/* demo index pages */
body.demo-index {
    font-family: sans-serif;
    font-size: 13pt;
    background: #ddd;
}

.demo-index li {
    margin-top: 5px;
}

.demo-index a {
    color: #555;
    text-decoration: none;
}

.demo-index a:hover {
    color: #000;
    text-decoration: none;
}

.demo-index .navigation {
    margin: auto;
    margin-top: 50px;
    border: solid 1px;
    width: 350px;
    margin-bottom: 5px;
    padding: 10px;
    background: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 5px 5px #555;
    -moz-box-shadow: 0 5px 5px #555;
    -webkit-box-shadow: 0 5px 5px #555;
    padding-left: 40px;
}
