.aui-list {
    font-size: 13px;
    line-height: 16px;
}

.aui-list-heading {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding: 4px 8px;
}

.aui-list-section {
    border-top: 1px solid #bbb;
    margin: 4px 0 0 0;
    padding: 4px 0 0 0;
}

.aui-list-section:first-child {
    border-top: 0;
    margin: 0;
    padding: 0;
}

.aui-list-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.aui-list-item-link {
    background-color: transparent;
    color: #000;
    display: block;
    padding: 4px 8px;
    text-decoration: none;
}

.aui-list-items.aui-iconised .aui-list-item-link,
.aui-list-items.aui-checked .aui-list-item-link,
.aui-list-items.aui-radio .aui-list-item-link {
    padding-left: 32px;
    position: relative; /* Absolute positioned icons */
}

.aui-list-item.aui-disabled {
    opacity: 0.5; /* Disabled mode so icons fade out also */
}

.aui-list-item.aui-active .aui-list-item-link,
.aui-list-item.aui-active .aui-list-item-desc {
    background-color: #326CA6;
    color: #fff;
}

.aui-list-item-desc {
    background-color: transparent;
    color: #505050;
    float: right;
    margin-left: 8px;
}

